* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

form {
  margin: 4rem 0;
}

.toast-container {
  z-index: 2;
}

.font-size-lg {
  font-size: 1.25rem;
}

.table-condensed {
  width: 20rem;
  height: 15rem;
  font-size: 1rem;
}

.datepicker .year.active {
  background: gray !important;
  font-size: 1.05rem;
  font-weight: 700;
}

.datepicker-dropdown {
  margin: 10px 0 0 10px;
}

.header {
  position: relative;
}

.header-bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 125px;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
  background: black;
  color: white;
  z-index: 1;
  transition: height 250ms ease-in;
}

.header-bar:hover {
  height: 200px;
}

.header-bar:hover h1 {
  transform: scale(1.2);
}

.header-bar h1 {
  padding: 1rem 0 3rem 0;
  transition: transform 250ms ease-in;
}

.header-image {
  position: relative;
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;

  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 70%,
      rgb(247, 247, 247) 100%
    ),
    url("../img/fond.jpg");
}

.header-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.header-text h1,
.header-text h2 {
  font-weight: 700;
}

.footer {
  position: relative;
  left: 0;
  right: 0;
  height: 125px;
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
  background: black;
  color: white;
  z-index: 1;
  text-align: center;
}

.footer p {
  position: relative;
  margin: 0;
  top: 5rem;
}

.content {
  background-color: #fafafa;
  padding: 4rem 0;
}

.content-card {
  position: absolute;
  background-color: #ffffff;
  padding: 3rem 0;
  margin: 12rem 0;
  /* border: 1px solid rgba(241, 241, 241, 0.582); */
  border-radius: 12px;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.wrapper * {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 25%;
}

.wrapper .item:nth-of-type(2n) {
  justify-self: end;
}

.wrapper .item:nth-of-type(2n + 1) {
  justify-self: start;
}

.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}

.polaroid > img {
  width: 22rem;
  height: 22rem;
  object-fit: cover;
}

.caption {
  font-size: 1.8rem;
  text-align: center;
  line-height: 2em;
}

.item {
  width: fit-content;
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}

.item .polaroid:before {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}

.item:nth-of-type(4n + 1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n + 1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
}
.item:nth-of-type(4n + 2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n + 2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
}
.item:nth-of-type(4n + 4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n + 4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
}
.item:nth-of-type(4n + 3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n + 3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: "";
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  transition: all 0.35s;
}

@media screen and (max-device-width: 480px) {
  .table-condensed {
    width: 18rem;
    height: 15rem;
    font-size: 1rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  .header-bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 75px;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
    background: black;
    color: white;
    z-index: 1;
    text-align: center;

    transition: height 250ms ease-in;
  }

  .header-bar:hover,
  .header-bar:focus {
    height: 200px;
  }

  .header-bar:hover h1,
  .header-bar:focus h1 {
    transform: scale(1.2);
  }

  .header-bar h1 {
    /* padding: 0.75rem 0 0.75rem 0; */
    transition: transform 250ms ease-in;
  }

  /* FORM */

  .header-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 0.75rem;
  }

  .header-text h1,
  .header-text h2 {
    font-weight: 700;
  }

  .footer {
    position: relative;
    left: 0;
    right: 0;
    height: 125px;
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
    background: black;
    color: white;
    z-index: 1;
    text-align: center;
  }

  .footer p {
    position: relative;
    margin: 0;
    top: 5rem;
  }

  .content {
    position: relative;
    background-color: #fafafa;
    padding: 2rem 0;
    height: 1100px;
  }

  .content-card {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1rem 0;
    margin: 3rem 0;
    /* border: 1px solid rgba(241, 241, 241, 0.582); */
    border-radius: 12px;
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
      6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
      12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
      22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
      41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
      100px 100px 80px rgba(0, 0, 0, 0.07);
  }

  /* PHOTOS ARRIERE */

  .wrapper * {
    box-sizing: border-box;
  }

  .wrapper {
    position: relative;
    width: 100%;
    padding: 0 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 25%;
    /* grid-row-gap: 5%; */
  }

  .wrapper .item:nth-of-type(2n) {
    justify-self: end;
  }

  .wrapper .item:nth-of-type(2n + 1) {
    justify-self: start;
  }

  .polaroid {
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
  }

  .polaroid > img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
  }

  .caption {
    font-size: 1.8rem;
    text-align: center;
    line-height: 2em;
  }

  .item {
    width: fit-content;
    display: inline-block;
    margin-top: 2rem;
    filter: grayscale(100%);
  }

  .item .polaroid:before {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.35s;
  }

  .item:nth-of-type(4n + 1) {
    transform: scale(0.8, 0.8) rotate(5deg);
    transition: all 0.35s;
  }
  .item:nth-of-type(4n + 1) .polaroid:before {
    transform: rotate(6deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    right: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
  }
  .item:nth-of-type(4n + 2) {
    transform: scale(0.8, 0.8) rotate(-5deg);
    transition: all 0.35s;
  }
  .item:nth-of-type(4n + 2) .polaroid:before {
    transform: rotate(-6deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    left: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
  }
  .item:nth-of-type(4n + 4) {
    transform: scale(0.8, 0.8) rotate(3deg);
    transition: all 0.35s;
  }
  .item:nth-of-type(4n + 4) .polaroid:before {
    transform: rotate(4deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    right: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
  }
  .item:nth-of-type(4n + 3) {
    transform: scale(0.8, 0.8) rotate(-3deg);
    transition: all 0.35s;
  }
  .item:nth-of-type(4n + 3) .polaroid:before {
    transform: rotate(-4deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    left: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
  }
  .item:hover {
    filter: none;
    transform: scale(1, 1) rotate(0deg) !important;
    transition: all 0.35s;
  }
  .item:hover .polaroid:before {
    content: "";
    position: absolute;
    z-index: -1;
    transform: rotate(0deg);
    height: 90%;
    width: 90%;
    bottom: 0%;
    right: 5%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    transition: all 0.35s;
  }
}
